/*overall*/
:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
}

/*header*/
header {
text-align: center;
color: azure;
}

/*nav*/
.nav1 {
    display: flex;
    justify-content: center;
    background-color: azure;

}

.nav1 ul {
    display: flex;
    list-style: none;
    margin: 15px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.nav1 ul li a {
    text-decoration: wavy;
    color: black;
    padding: 0px 25px;
}

.nav1 ul li a:hover {
    box-shadow: 10px 2px 6px black;
}

/*About Me*/
#aboutme {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bolder;
    color: azure;
    display: flex;
    justify-content: center;
}
#Me img {
    width: 15%;
    height: auto;
    padding: 10;
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.AboutMe {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/*My Work*/
#Work {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bolder;
    color: azure;
    display: flex;
    justify-content: center;
}

#projectrepo h4 {
    text-align: center;
    color: azure;
}

#projectrepo img {
    width: 40%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#horiseon h4 {
    text-align: center;
    color: azure;
}

#horiseon img {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}



/*Contact*/
#Contact {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bolder;
    color: azure;
    display: flex;
    justify-content: center;
}
